
<h1 align="center">ShowEmployeeById</h1>

<div align="center">
    Enter Employee ID: <input type="text" name="empId" [(ngModel)]="empId"/> <br/>
    <button (click)="getEmployee()">Get Employee</button>
</div><br/>


<div *ngIf="emp">
    <table class="table text-center table-hover table-striped table-bordered table-sm">
        <thead>
            <tr>
                <th class="bg-info text-white">EmpId</th>
                <th class="bg-info text-white">EmpName</th>
                <th class="bg-info text-white">Salary</th>
                <th class="bg-info text-white">Gender</th>
                <th class="bg-info text-white">Country</th>
                <th class="bg-info text-white">DOJ</th>
                <th class="bg-info text-white">EmailId</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{emp.empId}}</td>
                <td>{{emp.empName}}</td>
                <td>{{emp.salary}}</td>
                <td>{{emp.gender}}</td>
                <td>{{emp.country}}</td>
                <td>{{emp.doj}}</td>
                <td>{{emp.emailId}}</td>
            </tr>
        </tbody>
    </table>
</div>

