<p>test2 works!</p>

id  : {{person.id}}   <br/>
name: {{person.name}} <br/>
avg : {{person.avg}}  <br/><br/>

<b><u>Address</u></b><br/>
StreetNo: {{person.address.streetNo}} <br/>
City    : {{person.address.city}}     <br/>
State   : {{person.address.state}}    <br/><br/>

<b><u>Hobbies</u></b><br/>
<ul>
    <li *ngFor="let hobby of person.hobbies">{{hobby}}</li>
</ul>
