<h1>Registration Form</h1>

<form #registrationForm="ngForm" (ngSubmit)="registrationSubmit(registrationForm.value)">
    <table>
        <tr>
            <td>Enter EmployeeId</td>
            <td><input type="text" name="empId" ngModel /></td>
        </tr>
        <tr>
            <td>Enter EmoployeeName</td>
            <td><input type="text" name="empName" ngModel /></td>
        </tr>
        <tr>
            <td>Salary</td>
            <td><input type="number" name="salary" ngModel /></td>
        </tr>
        <tr>
            <td for="gender">Gender : </td>
            <td><select id="gender" name="gender"  [(ngModel)]="gender">
                <option value="">select...</option>
                <option value="male">Male</option>
                <option value="female">Female</option>
                <option value="others">Others</option>
            </select></td>
        </tr>
        <tr>
            <td>DOJ</td>
            <td><input type="date" name="doj" ngModel /></td>
        </tr>
        <!-- <tr>
            <td for="country">Country : </td>
            <td><select id="country" name="country" [(ngModel)]="country">
                <option value="">select...</option>
                <option value="india">India</option>
                <option value="america">America</option>
                <option value="australia">Australia</option>
            </select></td>
        </tr> -->
        <tr>
            <td>Country</td>
            <td>
            <select name="country" ngModel>
                <option value="" selected>Select Country</option>
                <option value="{{country.cca3}}" *ngFor="let country of countries">{{country.name.common}}</option>
            </select>
            </td>
            </tr>
        <tr>
            <td>Enter EmailId</td>
            <td><input type="text" name="emailId" ngModel  #emailId="ngModel" required minlength="2" maxlength="20"/></td>
            <div *ngIf="emailId.errors?.['required'] && emailId.touched" style="color: red;">Please Enter EmailId</div>
            <div *ngIf="emailId.errors?.['minlength'] && emailId.touched" style="color: red;">Please Enter Atleast 2 Characters</div>
        </tr>
        <tr>
            <td>Enter Password</td>
            <td><input type="password" name="password" ngModel #password="ngModel" required minlength="2" maxlength="10"/></td>
            <div *ngIf="password.errors?.['required'] && password.touched" style="color: red;">Please Enter Password</div>
            <div *ngIf="password.errors?.['minlength'] && password.touched" style="color: red;">Please Enter Atleast 2 Characters</div>
        </tr>
        <tr>
            <td for="deptId">Department</td>
            <td><select id="deptId" name="deptId" [(ngModel)]="deptId">
                <option value="">select...</option>
                <option value="10">IT</option>
                <option value="20">Sales</option>
                <option value="30">Account</option>
                <option value="40">Testing</option>
            </select></td>
        </tr>
        <tr>
            <td colspan="2" align="center" ><button class="btn btn-primary">Register</button>
            Already user? <a href="login">SignIn</a></td>
        </tr>
    </table>
</form>
