h1{
    color: rgb(255, 174, 0); 
}

.form {
    text-align: center;
    border: 2px solid black;
    height: 200px;
    width: 500px;
    border-radius: 10px;
    
   
}

button{
    background-color: aliceblue;
    color: blue;
    border-radius: 5px;
}
.body{
    display: flex;
    justify-content: center;
}