<h1>Welcome to Angular</h1>
<!-- <app-test></app-test> -->

<!-- <app-test2></app-test2> -->

<!-- <app-login></app-login> -->
<!-- <app-registration></app-registration> -->
<!-- <app-show-employees></app-show-employees> -->
<!-- <app-showempbyid></app-showempbyid> -->
<!-- <app-products></app-products> -->
<app-header></app-header>
<br/>
<marquee><h1>Welcome to Angular Routing</h1></marquee>
<br/>
<router-outlet></router-outlet>


